---
pagination:
  data: collections.posts
  size: 10
  reverse: true
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="Description" content="Welcome my mess! I'm a dabbler of many things, but self hosting is my addiction." />
  <link rel="shortcut icon" type="image/jpg" href="/favicon.png" />
  <title>{{ title }}</title>
  <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />
  <meta name="twitter:card" content="summary" />
  <link rel="stylesheet" href="/styles/common.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- START NAV -->
  {% include header.liquid %}
  <!-- END NAV -->

  <!-- Image -->
  <section class="hero ">
    <div class="hero-body">
      <div class="container">
        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <h2 class="subtitle is-7">Welcome to the mess of</h2>
                <h1 class="title">Clark Weckmann</h1>
                <p class="has-text-dark">"I can quit anytime I want."</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

  <!-- Articles -->

  <section class="hero ">
    <div class="hero-body">
      <div class="container">
        {% for post in pagination.items %}
        <section class="section">
          <a href="{{post.url}}" class="content is-medium columns is-mobile">
            <span class="column is-four-fifths">
              <h2 class="subtitle is-5 has-text-grey">{{ post.date | date: '%B %d, %Y' }}</h2>
              <h1 class=" title has-text-black is-4">{{ post.data.title }}</h1>
            </span>
            <span class="column has-text-right">
              <i class="fas fa-arrow-right"></i>
            </span>
          </a>
        </section>
        {% endfor %}
        {% if pagination.pageLinks.length > 1 %}
        <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
          {% if pagination.previousPageLink %}
          <a class="pagination-previous" href="{{ pagination.previousPageHref | url }}">View Newer</a>
          {% else %}
          <a class="pagination-previous" disabled>View Newer</a>

          {% endif %}
          {% if pagination.nextPageLink %}
          <a class="pagination-next" href="{{ pagination.nextPageHref | url }}">View Older</a>
          {% else %}
          <a class="pagination-next" disabled>View Older</a>

          {% endif %}
        </nav>
        {% endif %}
      </div>
    </div>
  </section>
  {% include footer.html %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(
        document.querySelectorAll(".navbar-burger"),
        0
      );

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {
        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener("click", () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle("is-active");
            $target.classList.toggle("is-active");
          });
        });
      }
    });
  </script>
  <script async src="https://ackee.weckmann.me/tracker.js" data-ackee-server="https://ackee.weckmann.me"
    data-ackee-domain-id="2b9b661b-3ade-47c9-a2d5-ac0c4275c5bb"></script>
  <script src="/assets/js/script.js" defer></script>

</body>

</html>